.checkresult__number {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #9D9D9D;
}

.checkresult__number2 {
  border: 1px solid #DADADA;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}