.form__input {
  resize: none;
  width: 712px;
  height: 312px;
  margin-top: 15px;
  border-radius: 8px;
  padding: 35px 15px 15px 15px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
}

::-webkit-input-placeholder {color:#9D9D9D; font-size: 20px;}
::-moz-placeholder          {color:#9D9D9D; font-size: 20px;}/* Firefox 19+ */
:-moz-placeholder           {color:#9D9D9D; font-size: 20px;}/* Firefox 18- */
:-ms-input-placeholder      {color:#9D9D9D; font-size: 20px;}